@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --sbprimary: #953ab9;
    --sbsecondary: #f6e0ff
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #888;
    scroll-behavior: smooth
}

.whatsapp-plug {
    background-image: url(/img/graphics/whatsapp.svg);
    background-size: 100%;
    background-position: 100%;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 40px;
    right: 30px;
    width: 34px;
    height: 34px;
    z-index: 120;
}

#scrollUp {
    bottom: 15px;
    right: 15px;
    padding: 10px 20px;
    background: var(--sbsecondary);
    color: var(--sbprimary);
    font-size: 25px;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    padding: 0;
    border-radius: 50%;
    box-shadow: 0 0 10px #00000026
}

.topbar .col-lg-6.col-md-7.col-12 {
    margin: auto;
    text-align: center;
}

#scrollUp:hover {
    background: #2c2d3f
}

.header {
    background-color: #fff;
    position: relative;
    box-shadow: 0 0 11px #e3e3e3
}

.header .topbar {
    background-color: #fff;
    border-bottom: 1px solid #eee
}

.header .topbar {
    padding: 15px 0
}

.header .top-link {
    float: left
}

.header-inner .logo img {
    width: 70px;
    position: relative;
    bottom: 10px
}

.header .top-link li {
    display: inline-block;
    margin-right: 15px
}

.header .top-link li:last-child {
    margin-right: 0
}

.header .top-link li a {
    color: #2c2d3f;
    font-size: 14px;
    font-weight: 400
}

.header .top-link li:hover a {
    color: var(--sbprimary)
}

.header .top-contact {
    float: right;
    text-align: center;
}

.header .top-contact li {
    display: inline-block;
    margin-right: 25px;
    color: #2c2d3f
}

.header .top-contact li:last-child {
    margin-right: 0
}

.header .top-contact li a {
    font-size: 14px
}

.header .top-contact li a:hover {
    color: var(--sbprimary)
}

.header .top-contact li i {
    color: var(--sbprimary);
    margin-right: 8px
}

.header .header-inner {
    background: #fff;
    z-index: 999;
    width: 100%
}

.get-quote {
    margin-top: 12px
}

.get-quote .btn {
    color: #fff
}

.header .logo {
    float: left;
    margin-top: 18px
}

.header .nav li {
    margin-right: 15px;
    float: left;
    position: relative
}

.header .nav li:last-child {
    margin: 0
}

.header .nav li a {
    color: #2c2d3f;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 25px 12px;
    position: relative;
    display: inline-block;
    position: relative
}

.header .nav li a::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;
    background: var(--sbprimary);
    border-radius: 5px 5px 0 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease
}

.header .nav li.active a:before {
    opacity: 1;
    visibility: visible;
    width: 100%
}

.header .nav li.active a {
    color: var(--sbprimary)
}

.header .nav li:hover a:before {
    opacity: 1;
    width: 100%;
    visibility: visible
}

.header .nav li:hover a {
    color: var(--sbprimary)
}

.header .nav li a i {
    display: inline-block;
    margin-left: 1px;
    font-size: 13px
}

.header.style2 .header-inner {
    border-top: 1px solid #eee
}

.header.style2 .logo {
    margin-top: 6px
}

.header.style2 .get-quote {
    margin-top: 0
}

.header .nav li .dropdown {
    background: #fff;
    width: 220px;
    position: absolute;
    left: -20px;
    top: 100%;
    z-index: 999;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    box-shadow: 0 3px 5px #3333334d;
    transform-origin: 0 0 0;
    transform: scaleY(.2);
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    opacity: 0;
    visibility: hidden;
    top: 74px;
    border-left: 3px solid #2889e4
}

.header .nav li:hover .dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0)
}

.header .nav li .dropdown li {
    float: none;
    margin: 0;
    border-bottom: 1px dashed #eee
}

.header .nav li .dropdown li:last-child {
    border: none
}

.header .nav li .dropdown li a {
    padding: 12px 15px;
    color: #666;
    display: block;
    font-weight: 400;
    text-transform: capitalize;
    background: 0 0;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease
}

.header .nav li .dropdown li a:before {
    display: none
}

.header .nav li .dropdown li:last-child a {
    border-bottom: 0
}

.header .nav li .dropdown li:hover a {
    color: var(--sbprimary)
}

.header .nav li .dropdown li a:hover {
    border-color: transparent
}

.header.style2 .main-menu {
    display: inline-block;
    float: left
}

.slider .single-slider {
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative
}

.slider .single-slider::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0000005e
}

.why-choose.section img {
    object-fit: cover;
    height: 400px;
    border-radius: 12px
}

.why-choose.section>.container>.row {
    gap: 40px;
    display: flex;
    justify-content: space-around
}

.why-choose.section>.container>.row .col-lg-6.col-12 {
    flex: none;
    height: 275px;
    max-width: fit-content;
    overflow: hidden;
    padding: 0;
    margin: 0 20px;
    border-radius: 20px
}

.slider.index2 .single-slider .text {
    margin-top: 150px
}

.slider .single-slider h1 {
    color: #fff;
    font-size: 38px;
    font-weight: 700;
    margin: 0 40px 28px;
    padding: 0;
    line-height: 42px
}

.images-for-our-programs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.images-for-our-programs img {
    width: auto;
    height: 240px;
    object-fit: cover;
    object-position: center;
    border-radius: 6px;
}

.slider .single-slider h1 span {
    color: var(--sbprimary)
}

.slider .single-slider p {
    color: #2c2d3f;
    margin-top: 27px;
    font-weight: 400
}

.slider .single-slider .button {
    margin-top: 30px
}

.slider .single-slider .btn {
    color: #fff;
    background: var(--sbprimary);
    font-weight: 500;
    display: inline-block;
    margin: 0;
    margin-right: 10px;
    border-radius: 42px
}

.slider .single-slider .btn:last-child {
    margin: 0
}

.slider .owl-carousel .owl-nav {
    margin: 0;
    position: absolute;
    top: 100%;
    right: 80px;
    width: fit-content;
    margin-top: -25px;
}

.slider .owl-carousel .owl-nav div {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    background: #d9d9d9;
    color: #272727;
    font-size: 26px;
    position: absolute;
    margin: 0;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
    padding: 0;
    border-radius: 50%;
}

.slider .owl-carousel .owl-nav div:hover {
    background: #2c2d3f;
    color: #fff
}

.custom-block-theme-bg {
    max-width: 1110px;
    margin: 210px auto 80px;
    text-align: center
}

.our-mission {
    margin: 40px auto 20px;
    max-width: 600px;
    padding: 0 20px;
}

.our-mission h3 {
    margin: 0 0 20px;
}

.custom-block-theme-bg h2 {
    margin-bottom: 34px
}

.section-title.custom-block-list {
    max-width: 1110px;
    padding: 0;
    margin: auto
}

.section-title.custom-block-list>ul {
    padding-left: 40px
}

.custom-cards {
    max-width: 320px;
    border-radius: 18px;
    height: 480px
}

.custom-cards .hidden-card-body {
    display: none;
}

.custom-cards .hidden-card-body.active {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000041;
    z-index: 66;
    width: 100%;
    height: 100%;
}

.custom-cards .hidden-card-body.active .wrapper {
    max-width: 720px;
    margin: 0 20px;
    background-color: #fff;
    border-radius: 24px;
    padding: 60px 40px 40px;
    max-height: 80vh;
    position: relative;
    top: 40px;
    overflow: auto;
    height: max-content;
}

.custom-cards .hidden-card-body.active .wrapper span {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 20px;
    cursor: pointer;
}

.custom-cards .card-body {
    padding: 0
}

.custom-cards img {
    height: 335px;
    overflow: hidden;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 18px;
    box-shadow: 0 0 11px #dedede
}

.custom-cards .card-summary {
    padding: 24px 20px;
    z-index: 55;
    position: relative;
    background: #fff;
    border-radius: 20px;
    bottom: 60px;
    box-shadow: 0 0 11px #dedede;
}

.custom-cards .card-summary h3 {
    font-size: 20px;
    margin: 0 0 10px
}

.custom-cards .card-summary a {
    margin: 18px 0;
    color: var(--sbprimary);
    background-color: transparent;
    border: 0
}

.custom-cards .card-summary p {
    font-size: 12px;
    line-height: normal;
    margin-bottom: 20px;
    height: auto;
    overflow: auto;
}

.card-container {
    display: flex;
    max-width: 1110px;
    margin: 0 auto 80px;
    gap: 80px;
    flex-wrap: wrap;
    padding: 0 20px;
    justify-content: center
}

.split-column {
    display: flex;
    gap: 40px;
    flex-direction: column;
    margin: 0 40px
}

.split-column li {
    margin-left: 20px;
    padding-left: 0
}

.split-column>div:first-child {
    border-bottom: 2.8px solid var(--sbprimary);
    padding: 0 0 28px;
    padding-right: 20px;
    border-bottom-style: dotted
}

.split-column h3 {
    margin: 40px 0 20px
}

.fun-facts {
    position: relative
}

.fun-facts.section {
    padding: 120px 0
}

.fun-facts {
    background: url(/img/vibe/vibe-3.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

.fun-facts .single-fun i {
    position: absolute;
    left: 0;
    font-size: 62px;
    color: #fff;
    height: 70px;
    width: 70px;
    line-height: 67px;
    font-size: 28px;
    text-align: center;
    padding: 0;
    margin: 0;
    border: 2px solid #fff;
    border-radius: 0;
    top: 50%;
    margin-top: -35px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
    border-radius: 50%
}

.fun-facts .single-fun:hover i {
    color: var(--sbprimary);
    background: #fff;
    border-color: transparent
}

.fun-facts .single-fun .content {
    padding-left: 80px
}

.fun-facts .single-fun span {
    color: #fff;
    font-weight: 600;
    font-size: 30px;
    position: relative;
    display: block;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s eas;
    display: block;
    margin-bottom: 7px;
    width: 400px;
}

.fun-facts .single-fun p {
    color: #fff;
    font-size: 15px
}

.why-choose .choose-left h3 {
    font-size: 24px;
    font-weight: 600;
    color: #2c2d3f;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 24px
}

.why-choose .choose-left h3:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 2px;
    width: 50px;
    background: var(--sbprimary)
}

.why-choose .choose-left p {
    margin-bottom: 35px
}

.why-choose .choose-left .list li {
    color: #868686;
    margin-bottom: 12px
}

.why-choose .choose-left .list li:last-child {
    margin-bottom: 0
}

.why-choose .choose-left .list li i {
    height: 15px;
    width: 15px;
    line-height: 15px;
    text-align: center;
    background: var(--sbprimary);
    color: #fff;
    font-size: 14px;
    border-radius: 100%;
    padding-left: 2px;
    margin-right: 16px
}

.why-choose {
    background: #fff
}

.why-choose .choose-right {
    height: 100%;
    width: 100%;
    background-image: url(https://dad7-2409-40f2-2b-32ca-487b-e526-3811-3d34.ngrok-free.app/img/video-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative
}

.why-choose .choose-right .video {
    color: #fff;
    height: 70px;
    width: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -35px;
    margin-top: -35px;
    font-size: 21px;
    background: var(--sbprimary);
    padding-left: 4px
}

.why-choose .choose-right .video:hover {
    transform: scale(1.1)
}

.call-action {
    background-image: url(/img/vibe/vibe-4.jpeg);
    background-size: cover;
    background-position: center !important;
    position: relative;
    background-repeat: no-repeat
}

.call-action .content {
    text-align: center;
    padding: 100px 265px
}

.call-action .content h2 {
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    line-height: 46px
}

.call-action .content p {
    color: #fff;
    margin: 30px 0;
    font-size: 15px
}

.call-action .content .btn {
    background: #fff;
    margin-right: 20px;
    font-weight: 500;
    border: 1px solid #fff;
    color: var(--sbprimary)
}

.call-action .content .btn:before {
    background: var(--sbprimary)
}

.call-action .content .btn:hover {
    background: var(--sbprimary);
    color: #fff
}

.call-action .content .btn:last-child {
    margin-right: 0
}

.portfolio {
    background: #fdfdfd
}

.portfolio .single-pf {
    position: relative
}

.portfolio .single-pf img {
    object-fit: cover;
    height: 300px;
    width: 100%
}

.portfolio .single-pf:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: var(--sbprimary);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
    z-index: 1
}

.portfolio .single-pf:hover:before {
    opacity: .7;
    visibility: visible
}

.portfolio .single-pf .btn {
    color: var(--sbprimary);
    z-index: 3;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
    height: 48px;
    width: 150px;
    text-align: center;
    line-height: 48px;
    padding: 0;
    font-weight: 500;
    font-size: 14px;
    margin-left: -75px;
    margin-top: -24px;
    border-radius: 4px
}

.portfolio .single-pf:hover .btn {
    opacity: 1;
    visibility: visible
}

.portfolio .single-pf .btn:hover {
    color: #fff
}

.portfolio .owl-nav {
    display: none
}

.pf-details .image-slider .owl-nav {
    margin: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -25px
}

.pf-details .image-slider .owl-carousel .owl-nav div {
    height: 50px;
    width: 50px;
    line-height: 45px;
    background: #fff;
    color: var(--sbprimary);
    position: absolute;
    margin: 0;
    border-radius: 100%;
    font-size: 20px;
    text-align: center;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
    box-shadow: 0 0 10px #0000001a
}

.pf-details .image-slider .owl-carousel .owl-nav div:hover {
    color: #fff;
    background: var(--sbprimary)
}

.pf-details .image-slider {
    border-radius: 8px 8px 0 0
}

.pf-details.section h4 {
    font-size: 18px;
    line-height: 28px
}

.about-principal {
    background-color: var(--sbsecondary);
    padding: 20px;
    max-width: 1110px;
    margin: 0 auto 140px;
    padding: 40px;
    border-radius: 28px
}

.about-principal .image {
    width: 100%;
    height: 340px
}

.about-principal>.wrapper {
    width: 100%
}

.about-principal .summary {
    width: fit-content
}

.about-principal .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    object-position: top
}

.about-principal .summary h2 {
    color: var(--sbprimary)
}

.about-principal .summary p {
    margin: 40px 0
}

.about-principal .summary h4 {
    font-size: 14px;
    margin-bottom: 10px
}

.about-principal>.wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px
}

.float-image-up .items {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px
}

.float-image-up img {
    border-radius: 24px;
    width: 290px;
    height: 270px;
    overflow: hidden;
    object-fit: cover;
    object-position: top;
    margin: auto
}

.single-slider .container {
    position: absolute;
    bottom: 10px
}

@media (max-width: 767px) {
    .mobile-design-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mobile-design-header .slicknav_menu a {
        margin-top: 4px;
    }

    header {
        display: flex;
        flex-direction: column-reverse;
    }

    header .top-contact {
        display: flex;
        flex-direction: column;
    }

    header .top-contact span {
        text-align: left;
        margin-top: 10px;
    }

    header .top-contact .underline {
        border-bottom: 1.4px solid rgba(197, 197, 197, 0.678);
        padding: 4px 0;
    }

    header .top-contact .underline a {
        font-size: 12px;
    }

}

@media (min-width:768px) {
    .mobile-design-header h1 {
        display: none;
    }

    .float-image-up {
        transform: translateY(-120px)
    }

    .float-image-up .items {
        flex-direction: row
    }

    .about-principal .image {
        width: 450px;
        height: 420px
    }

    .custom-cards .card-summary p {
        height: 210px;
    }

    .header-inner .logo img {
        width: 70px
    }

    .pf-details.section h4 {
        font-size: 24px;
        line-height: 28px
    }

    .about-principal>.wrapper {
        flex-direction: row
    }

    .split-column {
        flex-direction: row
    }

    .split-column>div:first-child {
        border: 0;
        border-right-style: dotted;
        border-right: 2.4px solid var(--sbprimary)
    }

    .custom-cards img {
        height: 270px;
    }

    .card-container {
        gap: 20px;
    }

    .float-image-up img {
        margin: 0
    }

    .float-image-up img:hover {
        transform: translateY(-10px);
    }

    .custom-cards {
        max-width: 240px;
        transition: all .4s;
        ;
    }
}

.pf-details .image-slider img {
    height: 100%;
    width: 100%
}

.pf-details .date {
    background: var(--sbprimary);
    display: block;
    padding: 20px;
    text-align: center;
    border-radius: 0;
    border: none;
    margin: 0;
    margin-top: -1px
}

.pf-details .date ul li {
    font-size: 16px;
    color: #fff;
    display: inline-block;
    margin-right: 60px
}

.pf-details .date ul li:last-child {
    margin: 0
}

.pf-details .date ul li span {
    font-weight: 500;
    display: inline-block;
    margin-right: 5px
}

.pf-details .body-text h3 {
    font-size: 30px;
    font-weight: 600;
    color: #333;
    margin: 64px 0 36px
}

.bottomheaderclass {
    color: var(--sbprimary);
    padding: 10px
}

.body-text>:nth-child(2) {
    color: #fff;
    background: var(--sbprimary);
    padding: 10px
}

.bottomclass {
    color: #fff;
    background: var(--sbprimary);
    padding: 10px;
    font-size: 24px;
    margin: 64px 0 34px
}

.body-text>c {
    color: #fff;
    background: var(--sbprimary);
    padding: 10px;
    background: url(https://dad7-2409-40f2-2b-32ca-487b-e526-3811-3d34.ngrok-free.app/img/vibe/vide-2.jpeg)
}

.pf-details .body-text p {
    margin-top: 20px
}

.pf-details .body-text .share {
    margin-top: 40px
}

.pf-details .body-text .share h4 {
    font-size: 15px;
    font-weight: 500;
    display: inline-block
}

.pf-details .body-text .share ul {
    display: inline-block;
    margin-left: 12px
}

.pf-details .body-text .share ul li {
    display: inline-block;
    margin-right: 10px
}

.pf-details .body-text .share ul li:last-child {
    margin-right: 0
}

.pf-details .body-text .share ul li a {
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #c8c8c8;
    color: #757575;
    display: block;
    border-radius: 50%
}

.pf-details .body-text .share ul li a:hover {
    color: #fff;
    border-color: transparent;
    background: var(--sbprimary)
}

.services .single-service {
    margin: 30px 0;
    position: relative;
    padding-left: 70px
}

.services .single-service i {
    font-size: 45px;
    color: var(--sbprimary);
    position: absolute;
    left: 0;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease
}

.services .single-service h4 {
    text-transform: capitalize;
    margin-bottom: 25px;
    color: #2c2d3f
}

.services .single-service h4 a {
    color: #2c2d3f;
    font-size: 20px;
    font-weight: 600
}

.services .single-service h4 a:hover {
    color: var(--sbprimary)
}

.services .single-service p {
    color: #868686
}

.services-details-img {
    margin-bottom: 50px
}

.services-details-img img {
    width: 100%;
    margin-bottom: 30px
}

.services-details-img h2 {
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 16px
}

.services-details-img P {
    margin-bottom: 20px
}

.service-details-inner-left {
    background-image: url(https://dad7-2409-40f2-2b-32ca-487b-e526-3811-3d34.ngrok-free.app/https://dad7-2409-40f2-2b-32ca-487b-e526-3811-3d34.ngrok-free.app/https://dad7-2409-40f2-2b-32ca-487b-e526-3811-3d34.ngrok-free.app/img/signup-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%
}

.service-details-inner-left img {
    display: none
}

.service-details-inner {
    max-width: 580px;
    margin-left: auto;
    margin-right: auto
}

.service-details-inner h2 {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 15px;
    border-left: 3px solid var(--sbprimary);
    padding-left: 15px
}

.service-details-inner p {
    margin-bottom: 15px
}

.service-details-inner p:last-child {
    margin-bottom: 0
}

.team {
    background-image: url(img/testi-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative
}

.team.single-page {
    background: #fff
}

.team .section-title h2 {
    color: #fff
}

.team .section-title p {
    color: #fff
}

.team .single-team {
    background: #fff;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    margin-top: 30px;
    text-align: center;
    box-shadow: 0 0 10px #00000021;
    border-radius: 5px;
    overflow: hidden
}

.team .t-head {
    position: relative;
    overflow: hidden
}

.team .t-head::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    content: "";
    z-index: 2;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease
}

.team .single-team:hover .t-head::before {
    visibility: visible;
    opacity: .5
}

.team .t-head img {
    width: 100%;
    position: relative
}

.team .t-icon a {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 46px;
    line-height: 40px;
    opacity: 0;
    visibility: hidden;
    font-weight: 400;
    text-align: center;
    color: #fff;
    border-radius: 0;
    -webkit-transform: scale(.6);
    -moz-transform: scale(.6);
    transform: scale(.6);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 99;
    margin: -23px 0 0 -75px;
    font-size: 15px;
    background: #2889e4;
    font-size: 13px;
    line-height: 46px;
    padding: 0;
    border-radius: 4px
}

.team .single-team:hover .t-icon a {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    visibility: visible
}

.team .t-bottom {
    text-align: center;
    position: relative;
    padding: 0 20px;
    padding: 25px 20px
}

.team .t-bottom p {
    color: #666;
    font-size: 13px;
    display: block;
    margin-bottom: 4px
}

.team .t-bottom h2 {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
    color: #2c2d3f
}

.team .t-bottom h2 a:hover {
    color: var(--sbprimary)
}

.doctor-details-left {
    -webkit-box-shadow: 0 0 10px 0 #ddd;
    box-shadow: 0 0 10px 0 #ddd;
    border-radius: 10px;
    overflow: hidden
}

.combine-button {
    display: flex;
    flex-wrap: wrap;
    max-width: 650px;
    gap: 16px;
    justify-content: center;
    margin: 40px auto 80px
}

.combine-button .button {
    padding: 12px 32px;
    width: 248px;
    color: var(--sbprimary);
    border: 2px solid;
    font-size: 22px;
    border-radius: 4px
}

#neet-form,
#puc-form {
    scroll-margin-top: 80px;
    background-color: #ffffffbf;
}

.combine-button .button:hover {
    color: #fff;
    background-color: var(--sbprimary)
}

.doctor-details-area .doctor-details-left .social {
    margin-top: 25px
}

.doctor-details-area .doctor-details-left .social li {
    display: inline-block;
    margin-right: 10px
}

.doctor-details-area .doctor-details-left .social li:last-child {
    margin-right: 0
}

.doctor-details-area .doctor-details-left .social li a {
    height: 34px;
    width: 34px;
    line-height: 34px;
    text-align: center;
    border: 1px solid #c8c8c8;
    text-align: center;
    padding: 0;
    border-radius: 4px;
    display: block;
    color: #757575;
    font-size: 16px
}

.doctor-details-area .doctor-details-left .social li a:hover {
    color: #fff;
    background: var(--sbprimary);
    border-color: transparent
}

.doctor-details-area .doctor-details-right {
    padding-left: 60px;
    padding-top: 70px
}

.blog {
    background: #fff
}

.blog .blog-title {
    text-align: center
}

.blog .single-news {
    background: #fff;
    position: relative;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
    box-shadow: 0 0 10px #00000014
}

.blog .single-news img {
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease
}

.blog .single-news .news-head {
    position: relative;
    overflow: hidden
}

.blog .single-news .news-content {
    text-align: left;
    background: #fff;
    z-index: 99;
    position: relative;
    padding: 30px;
    left: 0;
    z-index: 0
}

.blog .single-news .news-content:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background: var(--sbprimary);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease
}

.blog .single-news:hover .news-content:before {
    opacity: 1;
    visibility: visible;
    width: 100%
}

.blog .single-news .news-body h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 24px
}

.blog .single-news .news-body h2 a {
    color: #2c2d3f;
    font-weight: 500
}

.blog .single-news .news-body h2 a:hover {
    color: var(--sbprimary)
}

.blog .single-news .news-content p {
    font-weight: 400;
    text-transform: capitalize;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 23px
}

.blog .single-news .news-body .date {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 5px;
    background: var(--sbprimary);
    color: #fff;
    padding: 4px 15px;
    border-radius: 3px;
    font-size: 14px;
    margin-bottom: 10px
}

.news-single {
    padding: 0 0 90px;
    background: #f8f8f8
}

.news-single .single-main {
    margin-top: 30px;
    background: #fff;
    padding: 30px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    border-radius: 8px
}

.news-single .news-head img {
    width: 100%;
    height: 100%
}

.news-single .news-title {
    font-size: 25px;
    margin: 20px 0
}

.news-single .news-title a {
    color: #252525;
    font-weight: 600
}

.news-single .news-title a:hover {
    color: var(--sbprimary)
}

.news-single {
    background: #fff
}

.news-single .meta {
    overflow: hidden;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 15px
}

.news-single .meta span {
    margin-right: 10px;
    display: inline-block
}

.news-single .meta span:last-child {
    margin: 0
}

.news-single .meta span,
.news-single .meta span a {
    color: #2c2d3f;
    font-weight: 400
}

.news-single .meta span i {
    margin-right: 5px;
    color: var(--sbprimary)
}

.news-single .meta-left {
    float: left
}

.news-single .meta-left span.date {
    margin-top: 10px
}

.news-single .meta-right {
    float: right;
    margin-top: 10px
}

.news-single .news-content {
    margin: 20px 0
}

.news-single .news-content p {
    margin-bottom: 10px
}

.news-single .news-content p:last-child {
    margin: 0
}

.news-single .news-text p {
    font-size: 14px;
    margin-bottom: 20px
}

.news-single .image-gallery {
    margin-bottom: 20px
}

.news-single .image-gallery .single-image {
    overflow: hidden
}

.news-single .image-gallery .single-image:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2)
}

.news-single .blog-bottom {
    overflow: hidden
}

.news-single .social-share {
    float: left
}

.news-single .social-share li {
    float: left
}

.news-single .social-share li span {
    padding-left: 5px
}

.news-single .social-share li.facebook a {
    background: #5d82d1
}

.news-single .social-share li a {
    padding: 10px 20px;
    display: block;
    color: #fff
}

.news-single .social-share li a:hover {
    background: #2b343e
}

.news-single .blog-comments {
    background: 0 0;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    border-radius: 8px;
    padding: 30px
}

.news-single .blog-comments h2 {
    text-align: left;
    text-transform: capitalize;
    font-size: 18px;
    color: var(--sbprimary);
    margin-bottom: 20px
}

.news-single.section>.container>.row>.col-lg-8.col-12 {
    max-width: 100%;
    flex: none
}

.news-single .blog-comments h4 span {
    float: right
}

.news-single .single-comments {
    overflow: hidden;
    margin-bottom: 30px;
    background: #fff;
    border-bottom: 1px solid #eee;
    padding-bottom: 30px
}

.news-single .single-comments.left .main {
    padding-left: 100px;
    position: relative
}

.news-single .single-comments.left img {
    position: absolute;
    left: 0;
    top: 0
}

.news-single .single-comments:last-child {
    margin: 0;
    border: none;
    margin-bottom: 0;
    padding-bottom: 0
}

.news-single .single-comments .main {
    overflow: hidden
}

.news-single .single-comments .head {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 12%
}

.trustees-message {
    background-color: var(--sbsecondary);
    padding: 20px;
    border-radius: 20px;
    margin: 64px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative
}

.trustees-message h3,
.trustees-message h4 {
    color: var(--sbprimary);
    margin-bottom: 40px
}

.trustees-message h4 {
    font-size: 18px;
    text-align: center
}

.trustees-message p {
    color: #696969;
    margin-bottom: 20px;
    line-height: 28px;
    font-style: italic
}

.news-single .head img {
    width: 130px;
    height: 130px;
    min-width: 130px;
    min-height: 130px;
    object-fit: cover;
    line-height: 80px;
    border-radius: 100%;
    border: 5px solid #f8f8f8;
    object-position: top
}

.news-single .single-comments .body {
    float: left;
    width: 85%
}

.news-single .single-comments.left .body {
    float: noene;
    width: 100%
}

.news-single .single-comments .comment-list {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #e2e2e2;
    overflow: hidden
}

.news-single .single-comments .comment-list .body {
    width: 78%
}

.news-single .single-comments h4 {
    margin: 0 0 5px;
    font-size: 16px;
    text-align: left;
    font-weight: 500;
    color: #252525
}

.news-single .single-comments .comment-meta {
    margin-bottom: 5px
}

.news-single .single-comments .meta {
    font-size: 13px;
    color: #555;
    font-weight: 400;
    border: none;
    margin-right: 10px;
    padding: 0;
    margin: 0 10px 0 0
}

.news-single .single-comments .meta:last-child {
    margin: 0
}

.news-single .comment-meta span i {
    margin-right: 5px
}

.news-single .comment-meta span:last-child {
    margin: 0
}

.news-single .single-comments p {
    font-size: 13px
}

.news-single .single-comments a {
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    padding: 3px 15px;
    display: inline-block;
    margin-top: 10px;
    border-radius: 4px;
    background: var(--sbprimary);
    color: #fff
}

.news-single .single-comments a:hover {
    background: #2c2d3f;
    color: #fff
}

.news-single .single-comments a i {
    margin-right: 5px
}

.news-single .comment-list {
    padding-left: 50px
}

.news-single .single-comments.login {
    text-align: center
}

.news-single .single-comments.login i {
    font-size: 20px
}

.news-single .single-comments.login a {
    text-align: center
}

.news-single .single-comments.login a:hover {
    color: #353535
}

.news-single .comments-form {
    margin-top: 30px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    border-radius: 8px;
    padding: 30px
}

.news-single .comments-form h2 {
    text-align: left;
    font-size: 18px;
    color: #353535;
    margin-bottom: 20px;
    text-transform: capitalize
}

.news-single .form-group {
    position: relative;
    display: block;
    margin: 0 0 20px
}

.news-single .form-group i {
    position: absolute;
    left: 12px;
    top: 17px;
    z-index: 1;
    color: var(--sbprimary)
}

.news-single .form-group input {
    width: 100%;
    height: 50px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
    font-weight: 400;
    border-radius: 0;
    padding-left: 34px;
    padding-right: 20px;
    border: none;
    line-height: 50px;
    font-weight: 400;
    font-size: 14px;
    color: #2c2d3f
}

.news-single .form-group textarea {
    border: 1px solid #ddd;
    width: 100%;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
    box-shadow: none;
    border-radius: 0;
    border: none;
    height: 190px;
    padding: 15px 15px 15px 35px;
    resize: none;
    font-weight: 400;
    font-size: 14px;
    color: #2c2d3f
}

.news-single .form-group input,
.news-single .form-group textarea {
    border: 1px solid transparent;
    border: 1px solid #eee;
    border-radius: 5px
}

.news-single .form-group.message i {
    top: 22px
}

.news-single .form-group .button {
    padding: 10px 30px;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    border: 0 solid;
    color: #fff;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
    padding: 15px 30px
}

.news-single .form-group .button:hover {
    background: #353535
}

.news-single .form-group .button i {
    position: relative;
    display: inline-block;
    color: #fff;
    margin-right: 10px;
    padding: 0
}

.news-single .form-group.button {
    margin: 0;
    text-align: left
}

.news-single .form-group.button .btn {
    background: #fff;
    background: var(--sbprimary);
    color: #fff
}

.news-single .form-group.button .btn:hover {
    color: #fff
}

.news-single .form-group.button .btn i {
    color: #fff;
    position: relative;
    top: 0;
    left: 0;
    margin-right: 10px;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

.appointment {
    background: #fff;
    padding-top: 100px
}

.appointment.single-page {
    background: #fff;
    padding-top: 100px 0;
    padding: 0;
    padding: 100px 0
}

.appointment.single-page .appointment-inner {
    padding: 40px;
    box-shadow: 0 0 10px #00000024;
    border-radius: 5px
}

.appointment.single-page .title h3 {
    font-size: 25px;
    display: block;
    margin-bottom: 10px;
    font-weight: 600
}

.appointment .form {
    margin-top: 30px
}

.appointment .form input {
    width: 100%;
    height: 50px;
    border: 1px solid #eee;
    text-transform: capitalize;
    padding: 0 18px;
    color: #555;
    font-size: 14px;
    font-weight: 400;
    border-radius: 0;
    border-radius: 4px
}

.appointment .form textarea {
    width: 100%;
    height: 200px;
    padding: 18px;
    border: 1px solid #eee;
    text-transform: capitalize;
    resize: none;
    border-radius: 4px
}

.appointment .form-group .nice-select {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 1px solid #eee;
    text-transform: capitalize;
    padding: 0 18px;
    color: #999;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
    font-weight: 400
}

.appointment .form-group .nice-select::after {
    right: 20px;
    color: #757575
}

.appointment .form-group .list {
    border-radius: 4px
}

.appointment .form-group .list li {
    color: #757575;
    border-radius: 0
}

.appointment .form-group .list li:hover {
    color: #fff;
    background: var(--sbprimary)
}

.appointment.single-page .button .btn {
    width: 100%
}

.appointment .button .btn {
    font-weight: 500
}

.appointment .button .btn:hover {
    color: #fff
}

.appointment .form p {
    margin-top: 10px;
    color: #868686
}

.appointment.single-page .time-sidual {
    margin-top: 15px
}

.appointment.single-page .time-sidual {
    overflow: hidden
}

.appointment.single-page .time-sidual li {
    display: block;
    color: #fff;
    width: 100%;
    margin-bottom: 10px
}

.appointment.single-page .time-sidual li span {
    display: inline-block;
    float: right
}

.appointment.single-page .day-head .time {
    font-weight: 400;
    float: right
}

.login .inner {
    box-shadow: 0 0 10px #00000024;
    border-radius: 5px;
    overflow: hidden
}

.login .login-left {
    background-image: url(img/signup-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%
}

.login .login-form {
    padding: 50px 40px
}

.login .login-form h2 {
    position: relative;
    font-size: 32px;
    color: #333;
    font-weight: 600;
    line-height: 27px;
    text-transform: capitalize;
    margin-bottom: 12px;
    padding-bottom: 20px;
    text-align: left
}

.login .login-form h2:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 2px;
    width: 50px;
    background: var(--sbprimary)
}

.login .login-form p {
    font-size: 14px;
    color: #333;
    font-weight: 400;
    text-align: left;
    margin-bottom: 50px
}

.login .login-form p a {
    display: inline-block;
    margin-left: 5px;
    color: var(--sbprimary)
}

.login .login-form p a:hover {
    color: #2c2d3f
}

.login .form {
    margin-top: 30px
}

.login .form .form-group {
    margin-bottom: 22px
}

.login .form .form-group input {
    width: 100%;
    height: 50px;
    border: 1px solid #eee;
    text-transform: capitalize;
    padding: 0 18px;
    color: #555;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px
}

.login .form .form-group.login-btn {
    margin: 0
}

.login .form button {
    border: none
}

.login .form .btn {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    line-height: 20px;
    width: 100%
}

.login .form .btn:hover {
    background: var(--sbprimary);
    color: #fff
}

.login .login-form .checkbox {
    text-align: left;
    margin: 0;
    margin-top: 20px;
    display: inline-block
}

.login .login-form .checkbox label {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    position: relative;
    padding-left: 20px
}

.login .login-form .checkbox label:hover {
    cursor: pointer
}

.login .login-form .checkbox label input {
    display: none
}

.login .login-form .checkbox label::before {
    position: absolute;
    content: "";
    left: 0;
    top: 5px;
    width: 15px;
    height: 15px;
    border: 1px solid var(--sbprimary);
    border-radius: 100%
}

.login .login-form .checkbox label::after {
    position: relative;
    content: "";
    width: 7px;
    height: 7px;
    left: -16px;
    top: -15px;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
    display: block;
    font-size: 9px;
    background: var(--sbprimary);
    border-radius: 100%
}

.login .login-form .checkbox label.checked::after {
    opacity: 1;
    visibility: visible;
    transform: scale(1)
}

.contact-us .inner {
    box-shadow: 0 0 10px #00000024;
    border-radius: 5px;
    overflow: hidden
}

.contact-us .contact-us-left {
    width: 100%;
    height: 100%
}

.contact-us .contact-us-form {
    padding: 50px 40px
}

.contact-us .contact-us-form h2 {
    position: relative;
    font-size: 32px;
    color: #333;
    font-weight: 600;
    line-height: 27px;
    text-transform: capitalize;
    margin-bottom: 12px;
    padding-bottom: 20px;
    text-align: left
}

.contact-us .contact-us-form h2:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 2px;
    width: 50px;
    background: var(--sbprimary)
}

.contact-us .contact-us-form p {
    font-size: 14px;
    color: #333;
    font-weight: 400;
    text-align: left;
    margin-bottom: 50px
}

.contact-us .form {
    margin-top: 30px
}

.contact-us .form .form-group {
    margin-bottom: 22px
}

.contact-us .form .form-group input {
    width: 100%;
    height: 50px;
    text-transform: capitalize;
    padding: 0 18px;
    color: #555;
    font-size: 14px;
    font-weight: 400;
    background-color: transparent;
}

.contact-us .form .form-group textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #eee;
    text-transform: capitalize;
    padding: 18px;
    color: #555;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px
}

.contact-us .form .form-group.login-btn {
    margin: 0
}

.contact-us .form button {
    border: none
}

.contact-us .form .btn {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    line-height: 20px;
    width: 100%
}

.contact-us .form .btn:hover {
    background: var(--sbprimary);
    color: #fff
}

.contact-us .contact-us-form .checkbox {
    text-align: left;
    margin: 0;
    margin-top: 20px;
    display: inline-block
}

.contact-us .contact-us-form .checkbox label {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    position: relative;
    padding-left: 20px
}

.contact-us .contact-us-form .checkbox label:hover {
    cursor: pointer
}

.contact-us .contact-us-form .checkbox label input {
    display: none
}

.contact-us .contact-us-form .checkbox label::before {
    position: absolute;
    content: "";
    left: 0;
    top: 5px;
    width: 15px;
    height: 15px;
    border: 1px solid var(--sbprimary);
    border-radius: 100%
}

.contact-us .contact-us-form .checkbox label::after {
    position: relative;
    content: "";
    width: 7px;
    height: 7px;
    left: -16px;
    top: -15px;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
    display: block;
    font-size: 9px;
    background: var(--sbprimary);
    border-radius: 100%
}

.contact-us .contact-us-form .checkbox label.checked::after {
    opacity: 1;
    visibility: visible;
    transform: scale(1)
}

.contact-us .contact-info {
    margin-top: 50px
}

.contact-us .single-info {
    background: var(--sbprimary);
    padding: 40px 60px;
    height: 150px;
    border-radius: 10px;
    position: relative;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.contact-us .single-info:before {
    position: absolute;
    z-index: -1;
    content: '';
    bottom: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80%;
    height: 90%;
    background: var(--sbprimary);
    opacity: 0;
    filter: blur(10px);
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.contact-us .single-info:hover:before {
    opacity: .8
}

.contact-us .single-info:hover {
    transform: translateY(-5px)
}

.contact-us .single-info i {
    font-size: 42px;
    color: #fff;
    position: absolute;
    left: 40px
}

.contact-us .single-info .content {
    margin-left: 45px
}

.contact-us .single-info .content h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 600
}

.contact-us .single-info .content p {
    color: #fff;
    margin-top: 5px
}

.error-page {
    text-align: center;
    background: #fff;
    border-top: 1px solid #eee
}

.error-page .error-inner {
    display: inline-block
}

.error-page .error-inner h1 {
    font-size: 140px;
    text-shadow: 3px 5px 2px #3333;
    color: var(--sbprimary);
    font-weight: 700
}

.error-page .error-inner h1 span {
    display: block;
    font-size: 25px;
    color: #333;
    font-weight: 600;
    text-shadow: none
}

.error-page .error-inner p {
    padding: 20px 15px
}

.about-area {
    position: relative;
    z-index: 1
}

.about-image {
    width: 100%;
    height: 100%;
    background-image: url(https://dad7-2409-40f2-2b-32ca-487b-e526-3811-3d34.ngrok-free.app/img/about-img.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat
}

.about-image img {
    display: none
}

.about-content {
    max-width: 555px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 50px
}

.about-content span {
    display: block;
    margin-bottom: 5px;
    color: var(--sbprimary);
    font-size: 17px
}

.about-content h2 {
    margin-bottom: 0;
    line-height: 1.3;
    font-size: 40px;
    font-weight: 600
}

.about-content p {
    margin-top: 10px;
    margin-bottom: 0
}

.about-content ul {
    padding-left: 0;
    list-style-type: none;
    margin-top: 25px;
    margin-bottom: 0
}

.about-content ul li {
    margin-bottom: 16px;
    position: relative;
    padding-left: 34px
}

.about-content ul li i {
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 100%;
    background-color: var(--sbprimary) 2B;
    color: var(--sbprimary);
    -webkit-transition: .5s;
    transition: .5s;
    display: inline-block;
    font-size: 11px;
    position: absolute;
    left: 0;
    top: -2px
}

.about-content ul li:hover i {
    background-color: var(--sbprimary);
    color: #fff
}

.about-content ul li:last-child {
    margin-bottom: 0
}

.about-content .btn {
    margin-top: 30px
}

.our-vision-area {
    position: relative;
    z-index: 1;
    padding-bottom: 70px
}

.single-vision-box {
    margin-bottom: 30px;
    background-color: #fff;
    -webkit-box-shadow: 0 10px 55px 5px rgba(137, 173, 255, .2);
    box-shadow: 0 10px 55px 5px rgba(137, 173, 255, .2);
    padding: 25px 20px;
    position: relative;
    z-index: 1;
    -webkit-transition: .5s;
    transition: .5s;
    overflow: hidden
}

.single-vision-box .icon {
    margin-bottom: 20px;
    text-align: center;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 100%;
    background-color: var(--sbprimary);
    color: #fff;
    font-size: 25px;
    -webkit-transition: .5s;
    transition: .5s
}

.single-vision-box h3 {
    -webkit-transition: .5s;
    transition: .5s;
    margin-bottom: 0;
    position: relative;
    font-size: 20px;
    font-weight: 700
}

.single-vision-box p {
    -webkit-transition: .5s;
    transition: .5s;
    margin-top: 12px;
    margin-bottom: 0
}

.single-vision-box::before {
    width: 0;
    height: 100%;
    z-index: -1;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--sbprimary);
    -webkit-transition: .5s;
    transition: .5s
}

.single-vision-box::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border: 10px solid #fff;
    left: -80px;
    bottom: -80px;
    border-radius: 50%;
    z-index: -1;
    opacity: .15;
    -webkit-transition: .5s;
    transition: .5s
}

.single-vision-box:hover {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px)
}

.single-vision-box:hover::before {
    width: 100%
}

.single-vision-box:hover .icon {
    background-color: #fff;
    color: var(--sbprimary)
}

.single-vision-box:hover h3 {
    color: #fff
}

.single-vision-box:hover p {
    color: #fff
}

.single-vision-box:hover::after {
    left: -50px;
    bottom: -50px
}

.our-mission-area {
    position: relative;
    z-index: 1
}

.our-mission-image {
    width: 100%;
    height: 100%;
    background-image: url(https://dad7-2409-40f2-2b-32ca-487b-e526-3811-3d34.ngrok-free.app/img/mission-img.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat
}

.our-mission-image img {
    display: none
}

.our-mission-content {
    max-width: 555px;
    margin-left: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 50px
}

.our-mission-content h2 {
    margin-bottom: 0;
    line-height: 1.3;
    font-size: 40px;
    font-weight: 600
}

.our-mission-content p {
    margin-top: 10px;
    margin-bottom: 0
}

.our-mission-content ul {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    list-style-type: none;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 0;
    margin-top: 0
}

.our-mission-content ul li {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
    color: #7d7d7d;
    font-size: 14.5px;
    line-height: 1.7;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px
}

.our-mission-content ul li .icon {
    margin-bottom: 13px;
    -webkit-box-shadow: 0 10px 55px 5px rgba(137, 173, 255, .3);
    box-shadow: 0 10px 55px 5px rgba(137, 173, 255, .3);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    color: var(--sbprimary);
    font-size: 20px;
    -webkit-transition: .5s;
    transition: .5s
}

.our-mission-content ul li span {
    display: block;
    color: #121521;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 17px
}

.our-mission-content ul li:hover .icon {
    background-color: var(--sbprimary);
    color: #fff;
    border-radius: 100%
}

.footer {
    position: relative
}

.footer .footer-top {
    padding: 36px 0;
    position: relative;
    background: var(--sbprimary)
}

.footer .footer-top:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .1
}

.footer .single-footer .social {
    margin-top: 25px
}

.footer .single-footer .social li {
    display: inline-block;
    margin-right: 10px
}

.footer .single-footer .social li:last-child {
    margin-right: 0
}

.footer .single-footer .social li a {
    height: 34px;
    width: 34px;
    line-height: 34px;
    text-align: center;
    border: 1px solid #fff;
    text-align: center;
    padding: 0;
    border-radius: 100%;
    display: block;
    color: #fff;
    font-size: 16px
}

.footer .single-footer .social li a:hover {
    color: var(--sbprimary);
    background: #fff;
    border-color: transparent
}

.footer .single-footer.f-link li a i {
    margin-right: 10px
}

.footer .single-footer.f-link li {
    display: block;
    margin-bottom: 12px
}

.footer .single-footer.f-link li:last-child {
    margin: 0
}

.footer .single-footer.f-link li a {
    display: block;
    color: #fff;
    text-transform: capitalize;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
    font-weight: 400
}

.footer .single-footer.f-link li a:hover {
    padding-left: 8px
}

.footer .single-footer h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 40px;
    padding-bottom: 20px;
    text-transform: capitalize;
    position: relative
}

.footer .single-footer h2::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 3px;
    width: 50px;
    background: #fff
}

.footer .single-footer .time-sidual {
    margin-top: 15px
}

.footer .single-footer .time-sidual {
    overflow: hidden
}

.footer .single-footer .time-sidual li {
    display: block;
    color: #fff;
    width: 100%;
    margin-bottom: 5px
}

.footer .single-footer .time-sidual li span {
    display: inline-block;
    float: right
}

.footer .single-footer .day-head .time {
    font-weight: 400;
    float: right
}

.footer .single-footer p {
    color: #fff
}

.footer input::-webkit-input-placeholder {
    opacity: 1;
    color: #fff !important
}

.footer input::-moz-placeholder {
    opacity: 1;
    color: #fff !important
}

.footer input::-ms-input-placeholder {
    opacity: 1;
    color: #fff !important
}

.footer input::input-placeholder {
    opacity: 1;
    color: #fff !important
}

.footer .copyright {
    background: var(--sbprimary);
    padding: 25px 0 25px 0;
    text-align: center
}

.footer .copyright .copyright-content p {
    color: #d2d2d2;
    font-size: 12px;
    font-weight: 300
}

.footer .copyright .copyright-content p a {
    color: #fff;
    font-weight: 400;
    text-decoration: underline;
    display: inline-block;
    margin-left: 4px
}

.location {
    display: flex;
    justify-content: center;
    max-width: 1110px
}

/* Apply fade-in animation to elements */

section:not(.no-anim) {
    opacity: 0;
    transform: scale(0.4);
    transition: opacity 0.4s ease-out, transform 0.9s ease-out;
}

section.in-view {
    opacity: 1;
    transform: scale(1);
}

@keyframes fade-in {
    from {
        scale: .4;
        opacity: 0;
    }

    to {
        scale: 1;
        opacity: 1;
    }
}